.headerPart,
.customerReview{
    width: 1170px;
    margin: 0 auto;
}
.headerPart{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 50px;
}
.header-right{
    margin-top: 40px;
}
.bookImg img {
    width: 300px;
    margin-top: 50px;
    margin-left: 80px;
}
.btn {
    text-decoration: none;
    background: rgba(173, 216, 230, 0.397);
    padding: 15px;
    display: inline-block;
    border-radius: 10px;
    font-size: 18px;
    color: rgba(0, 0, 255, 0.582);
    font-weight: 700;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
}
.btn:hover{
    color: rgba(173, 216, 230, 0.397);
    background: rgba(0, 0, 255, 0.582);
}
.customerReview{
    text-align: center;
}